
body {
    background-color: whitesmoke;
  }

  h2{
    font-size: xx-large;
    color: red;
  }
  li{
    font-family: fantasy;
    color: blueviolet;
  }
  

  .Ashley {
    background: #33a022;
  }

